In [1]:
import pandas as pd
import numpy as np
import altair as alt

# 1 : Climate

In [135]:
climate = pd.read_csv("data/climate_change_data.csv", parse_dates = True)
climate.shape

(10000, 9)

In [136]:
# Relevant Years - most recent climate metircs
climate = climate[climate['Date'] >= '2020']
climate.shape

(1304, 9)

In [137]:
# check for missing data
climate.isnull().sum()

Date              0
Location          0
Country           0
Temperature       0
CO2 Emissions     0
Sea Level Rise    0
Precipitation     0
Humidity          0
Wind Speed        0
dtype: int64

In [138]:
# columns present in dataset
climate.columns

Index(['Date', 'Location', 'Country', 'Temperature', 'CO2 Emissions',
       'Sea Level Rise', 'Precipitation', 'Humidity', 'Wind Speed'],
      dtype='object')

In [139]:
# columns data types
climate.dtypes

Date               object
Location           object
Country            object
Temperature       float64
CO2 Emissions     float64
Sea Level Rise    float64
Precipitation     float64
Humidity          float64
Wind Speed        float64
dtype: object

In [140]:
n = climate['Location'].nunique()
print(f"There are climate metrics taken for {n} different locations.")

There are climate metrics taken for 1241 different locations.

# 2 : Disasters

In [141]:
disasters = pd.read_csv("data/natural-disasters copy.csv")
disasters.shape

(7081, 169)

In [142]:
disasters = disasters[disasters['Year'] >= 2020]
disasters

,Country name,Year,Number of deaths from drought,Number of people injured from drought,Number of people affected from drought,Number of people left homeless from drought,Number of total people affected by drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,...,Total economic damages from drought as a share of GDP,Total economic damages from earthquakes as a share of GDP,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from mass movements as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP,Total economic damages from volcanic activity as a share of GDP.1,total_damages_pct_gdp_glacial_lake
44,Afghanistan,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN
45,Afghanistan,2021,0.0,0.0,11000000.0,0.0,11000000.0,0.0,0.0,0.000000e+00,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
46,Afghanistan,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Afghanistan,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Africa,2020,0.0,0.0,33189316.0,0.0,33189316.0,0.0,0.0,1.243000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,Zambia,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7061,Zambia,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7078,Zimbabwe,2021,0.0,0.0,167500.0,0.0,167500.0,0.0,0.0,0.000000e+00,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
7079,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7080,Zimbabwe,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
disasters.shape

(528, 169)

In [144]:
disasters.columns

Index(['Country name', 'Year', 'Number of deaths from drought',
       'Number of people injured from drought',
       'Number of people affected from drought',
       'Number of people left homeless from drought',
       'Number of total people affected by drought',
       'Reconstruction costs from drought', 'Insured damages against drought',
       'Total economic damages from drought',
       ...
       'Total economic damages from drought as a share of GDP',
       'Total economic damages from earthquakes as a share of GDP',
       'Total economic damages from extreme temperatures as a share of GDP',
       'Total economic damages from floods as a share of GDP',
       'Total economic damages from landslides as a share of GDP',
       'Total economic damages from mass movements as a share of GDP',
       'Total economic damages from storms as a share of GDP',
       'Total economic damages from volcanic activity as a share of GDP',
       'Total economic damages from volcanic activity as a share of GDP.1',
       'total_damages_pct_gdp_glacial_lake'],
      dtype='object', length=169)

In [145]:
# removing columns containing the words "Number of"
columns_to_drop = [col for col in disasters.columns if 'Number of' in col]

# dropping the columns
disasters.drop(columns = columns_to_drop, inplace = True)
disasters.shape

(528, 97)

In [146]:
# removing columns containing "Total number of peopl"
columns_to_drop = [col for col in disasters.columns if 'Total number of people affected by' in col and 'per 100,000' in col]

# Drop the filtered columns
disasters.drop(columns=columns_to_drop, inplace=True)
disasters.shape

(528, 85)

In [148]:
disasters

,Country name,Year,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Death rates from drought,Injury rates from drought,Homelessness rate from drought,Reconstruction costs from earthquakes,Insured damages against earthquakes,...,Total economic damages from drought as a share of GDP,Total economic damages from earthquakes as a share of GDP,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from mass movements as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP,Total economic damages from volcanic activity as a share of GDP.1,total_damages_pct_gdp_glacial_lake
44,Afghanistan,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN
45,Afghanistan,2021,0.0,0.0,0.000000e+00,0.0,0.0,0.0,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
46,Afghanistan,2022,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Afghanistan,2023,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Africa,2020,0.0,0.0,1.243000e+09,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,Zambia,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7061,Zambia,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7078,Zimbabwe,2021,0.0,0.0,0.000000e+00,0.0,0.0,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
7079,Zimbabwe,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7080,Zimbabwe,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
disasters.isnull().sum() > 0

Country name                                                         False
Year                                                                 False
Reconstruction costs from drought                                     True
Insured damages against drought                                       True
Total economic damages from drought                                   True
                                                                     ...
Total economic damages from mass movements as a share of GDP          True
Total economic damages from storms as a share of GDP                  True
Total economic damages from volcanic activity as a share of GDP       True
Total economic damages from volcanic activity as a share of GDP.1     True
total_damages_pct_gdp_glacial_lake                                    True
Length: 85, dtype: bool

In [127]:
natural_disaster_types = ["drought", "earthquakes", "disasters", "volcanic activity",
                          "floods", "mass movements", "storms", "landslides", "fog", 
                          "wildfires", "extreme temperatures", "glacial lake outbursts"]

In [128]:
# Find columns for respective disaster type

for disaster in natural_disaster_types:
    
    # Select columns related to the current disaster type
    relevant_columns = [col for col in disasters.columns if disaster in col.lower()]
    print(relevant_columns)
    print("")

['Reconstruction costs from drought', 'Insured damages against drought', 'Total economic damages from drought', 'Death rates from drought', 'Injury rates from drought', 'Homelessness rate from drought', 'Total economic damages from drought as a share of GDP']

['Reconstruction costs from earthquakes', 'Insured damages against earthquakes', 'Total economic damages from earthquakes', 'Death rates from earthquakes', 'Injury rates from earthquakes', 'Homelessness rate from earthquakes', 'Total economic damages from earthquakes as a share of GDP']

['Reconstruction costs from disasters', 'Insured damages against disasters', 'Total economic damages from disasters', 'Death rates from disasters', 'Injury rates from disasters', 'Homelessness rate from disasters', 'Total economic damages from disasters as a share of GDP']

['Reconstruction costs from volcanic activity', 'Insured damages against volcanic activity', 'Total economic damages from volcanic activity', 'Death rates from volcanic activity', 'Injury rates from volcanic activity', 'Homelessness rate from volcanic activity', 'Total economic damages from volcanic activity as a share of GDP', 'Total economic damages from volcanic activity as a share of GDP.1']

['Reconstruction costs from floods', 'Insured damages against floods', 'Total economic damages from floods', 'Death rates from floods', 'Injury rates from floods', 'Homelessness rate from floods', 'Total economic damages from floods as a share of GDP']

['Reconstruction costs from mass movements', 'Insured damages against mass movements', 'Total economic damages from mass movements', 'Death rates from mass movements', 'Injury rates from mass movements', 'Homelessness rate from mass movements', 'Total economic damages from mass movements as a share of GDP']

['Reconstruction costs from storms', 'Insured damages against storms', 'Total economic damages from storms', 'Death rates from storms', 'Injury rates from storms', 'Homelessness rate from storms', 'Total economic damages from storms as a share of GDP']

['Reconstruction costs from landslides', 'Insured damages against landslides', 'Total economic damages from landslides', 'Death rates from landslides', 'Injury rates from landslides', 'Homelessness rate from landslides', 'Total economic damages from landslides as a share of GDP']

['Reconstruction costs from fog', 'Insured damages against fog', 'Total economic damages from fog', 'Death rates from fog', 'Injury rates from fog', 'Homelessness rate from fog']

['Reconstruction costs from wildfires', 'Insured damages against wildfires', 'Total economic damages from wildfires', 'Death rates from wildfires', 'Injury rates from wildfires', 'Homelessness rate from wildfires']

['Reconstruction costs from extreme temperatures', 'Insured damages against extreme temperatures', 'Total economic damages from extreme temperatures', 'Death rates from extreme temperatures', 'Injury rates from extreme temperatures', 'Homelessness rate from extreme temperatures', 'Total economic damages from extreme temperatures as a share of GDP']

['Reconstruction costs from glacial lake outbursts', 'Insured damages against glacial lake outbursts', 'Total economic damages from glacial lake outbursts', 'Death rates from glacial lake outbursts', 'Injury rates from glacial lake outbursts', 'Homelessness rate from glacial lake outbursts']

# 3 : World

In [155]:
world = pd.read_csv("data/worlddata.csv")
world.head()

,country,electricity_access,gdp,gdp_capita,labor_rate,labor_force,land_area,life_expectancy,adult_literacy,water_access,air_pollution,population_density,population,alcohol_consumption,unemployment_rate,social_support,freedom,generosity,income_class,cpi
0,Afghanistan,90.08,1.883323e+10,536.23,47.28,9103245.75,652230.0,62.97,NaN,66.61,100.00,53.94,35179977.00,0.0087,10.341,0.522,0.428,-0.014,Low income,14.25
1,Albania,99.94,1.285605e+10,4473.89,57.54,1362512.25,27400.0,78.93,98.14,93.92,100.00,104.90,2874159.25,5.0375,14.633,0.650,0.752,-0.033,Upper middle income,37.25
2,Algeria,99.49,1.677553e+11,4117.84,41.79,11979207.50,2381741.0,75.79,81.41,93.73,100.00,17.10,40736509.00,0.5844,10.540,0.785,0.510,-0.182,Lower middle income,34.50
3,Angola,43.00,7.095638e+10,2395.27,77.28,12467594.50,1246700.0,61.39,NaN,55.46,100.00,23.82,29691157.00,7.7588,9.557,NaN,NaN,NaN,Lower middle income,17.75
4,Argentina,99.90,5.801825e+11,13246.88,59.17,19579367.75,2736690.0,76.73,99.10,99.01,95.34,16.01,43815411.75,8.5713,8.301,0.904,0.852,-0.187,Upper middle income,36.75

In [156]:
world.shape

(186, 20)

In [157]:
world['country'].nunique()

186